<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">KannadaKali</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#karnataka">Karnataka</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#kannada">Kannada</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="assets/img/profile.png" alt="">
        <h1 class="text-uppercase mb-0">Kannada kalibeka??</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Easy way to learn kannada for daily communication</h2>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section class="portfolio" id="karnataka">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Karnataka</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/karnataka/Yakshagana.jpg" alt="Yakshagana">
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/karnataka/mysorepalace.jpg" alt="Mysore Palace">
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/karnataka/jogfalls.jpg" alt="Jogfall">
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/karnataka/wiki.jpg" alt="WikiLogo">
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/karnataka/ravaidli.jpg" alt="Rava idli">
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/karnataka/tiger.jpg" alt="Bandipur">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid Section -->
<section class="portfolio" id="kannada">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Kannada</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p>
                    Kannada (/ˈkɑːnədə, ˈkæn-/; Kannada: ಕನ್ನಡ [ˈkʌnːəɖɑː]), or Kanarese, is a Dravidian language spoken predominantly by Kannada people in India, mainly in the state of Karnataka, and by significant linguistic minorities in the states of Andhra Pradesh,
                    Telangana, Tamil Nadu, Maharashtra, Kerala, Goa and abroad. The language has roughly 38 million native speakers,[9] who are called Kannadigas (Kannadigaru). Kannada is also spoken as second and third language by non-Kannada speakers
                    living in Karnataka, which adds up to 50.8 million speakers.
                </p>
            </div>
            <div class="col-lg-4 ml-auto">
                <p>
                    It is one of the scheduled languages of India and the official and administrative language of the state of Karnataka. The Kannada language is written using the Kannada script, which evolved from the 5th-century Kadamba script. Kannada is attested epigraphically
                    for about one and a half millennia, and literary Old Kannada flourished in the 6th-century Ganga dynasty and during the 9th-century Rashtrakuta Dynasty. Kannada has an unbroken literary history of over a thousand years.
                </p>
            </div>
            <div class="col-lg-4 ml-auto">
                <p>
                    Based on the recommendations of the Committee of Linguistic Experts, appointed by the ministry of culture, the government of India designated Kannada a classical language of India. Kannada is considered to be one of the oldest living languages. In July
                    2011, a centre for the study of classical Kannada was established as part of the Central Institute of Indian Languages at Mysore to facilitate research related to the language.
                </p>
            </div>
        </div>
        <h5 class="text-center text-uppercase ">Facts</h5>
        <div class="row">
            <ul>
                <li>
                    Kannadigas account for 3% of Mumbai's population of 12 million as of 1991, which is 360,000.[citation needed]
                </li>
                <li>
                    As of 2001, there were 1.26 million Kannada speakers in Maharashtra, 1.3% of its population.
                </li>
                <li>
                    Kannada is the third-most spoken language in Hyderabad and is spoken by 677,245 people in Andhra Pradesh, some 0.8% of its total population.
                </li>
                <li>
                    Kannada speakers in Kerala numbered 325,571 which is 1.2% of its population as of 2001.
                </li>
                <li>
                    Goa has 7% Kannada speakers which accounts for 94,360 Kannadigas.
                </li>
                <li>
                    There are 43 Kannadigas on the Lakshadweep islands. Amindivi islands were formerly a part of undivided Dakshina Kannada district. The Malayalam spoken by people of Lakshadweep has many Kannada words.
                </li>
                <li>
                    New Delhi has approximately 11,027 Kannada speakers or less than 100,000 according to a different source.
                </li>
                <li>
                    There are about 150,000 Kannadigas in North America (USA and Canada).
                </li>
                <li>
                    <b> Kannada Braille </b> is one of the Bharati braille alphabets, and it largely conforms to the letter values of the other Bharati alphabets
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="bg-primary text-white mb-0" id="about">
    <div class="container">
        <h2 class="text-center text-uppercase text-white">About</h2>
        <hr class="star-light mb-5">
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Registration Form</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form name="sentMessage" [formGroup]="userdetails" (ngSubmit)="userFormSubmit(userdetails.controls)">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Name</label>
                            <input class="form-control" formControlName="uname" type="text" placeholder="Please enter your name">
                            <div class="error" *ngIf="userdetails.controls['uname'].hasError('required') && userdetails.controls['uname'].touched">Name is required</div>
                            <div class="error" *ngIf="userdetails.controls['uname'].hasError('pattern') ">Enter a Valid name</div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Original Place</label>
                            <input class="form-control" formControlName="uoriginalplace" type="text" placeholder="Please enter place of origin">
                            <div class="error" *ngIf="userdetails.controls['uoriginalplace'].hasError('required') && userdetails.controls['uoriginalplace'].touched">Origin place is required</div>
                            <div class="error" *ngIf="userdetails.controls['uoriginalplace'].hasError('pattern') ">Enter a Valid Origin place</div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Stay Duration</label>
                            <input class="form-control" formControlName="ustayduration" type="text" placeholder="How many years you have been in Karnataka?">
                            <div class="error" *ngIf="userdetails.controls['ustayduration'].hasError('required') && userdetails.controls['ustayduration'].touched">Required</div>
                            <div class="error" *ngIf="userdetails.controls['ustayduration'].hasError('pattern') ">Enter a Valid name</div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls ">
                            <label>Profession</label>
                            <input class="form-control" formControlName="uoccupation" type="text" placeholder="Please enter your profession">
                            <div class="error" *ngIf="userdetails.controls['uoccupation'].hasError('required') && userdetails.controls['uoccupation'].touched">Profession is required</div>
                            <div class="error" *ngIf="userdetails.controls['uoccupation'].hasError('pattern') ">Enter a Valid profession</div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls ">
                            <label>Email Address</label>
                            <input class="form-control" formControlName="uemail" type="text" placeholder="Please enter your email address">
                            <div class="error" *ngIf="userdetails.controls['uemail'].hasError('required') && userdetails.controls['uemail'].touched">Email is required</div>
                            <div class="error" *ngIf="userdetails.controls['uemail'].hasError('pattern') ">Enter a Valid Email</div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls ">
                            <label>Phone Number</label>
                            <input class="form-control" formControlName="umobilenumber" type="text" placeholder="+91">
                            <!-- <div class="error" *ngIf="userdetails.controls['uname'].hasError('required') && userdetails.controls['uname'].touched">Name is required</div> -->
                            <div class="error" *ngIf="userdetails.controls['umobilenumber'].hasError('pattern') ">Enter a Valid name</div>
                        </div>
                    </div>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Contact us</h4>
                <p class="lead mb-0">Email: kannadakali@gmail.com
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                            <i class="fa fa-fw fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                            <i class="fa fa-fw fa-google-plus"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                            <i class="fa fa-fw fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                            <i class="fa fa-fw fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                            <i class="fa fa-fw fa-dribbble"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="text-uppercase mb-4">About Website</h4>
                <p class="lead mb-0">Kannadakali is a free to use, open source Bootstrap theme. Git pull request will be accepted
                    <a href="https://github.com/Ekaanth/kannadakali">GitHub </a>.</p>
            </div>
        </div>
    </div>
</footer>

<div class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright &copy; Kannadakali 2018</small>
    </div>
</div>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Portfolio Modals -->

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Yakshagana</h2>
                    <hr class="star-dark mb-5">
                    <img class="img-fluid mb-5" src="assets/img/karnataka/Yakshagana.jpg" alt="Yakshagana">
                    <p class="mb-5">
                        Yakshagana performers in action. Part of a series on the Culture of India Ashoka Chakra.svg History People Languages Mythology and folklore Cuisine Religion Art Literature Music and performing arts Media Sport Monuments Symbols Flag of India.svg India
                        portal v t e Yakshagana ( Kannada : "ಯಕ್ಷಗಾನ", Tulu : "ಆಟ") is a traditional theatre form that combines dance, music, dialogue, costume, make-up, and stage techniques with a unique style and form. This theatre style is mainly found
                        in Tulunadu and some parts of Malenadu regions of Karnataka and Kerala.Yakshagana is traditionally presented from dusk to dawn. Its stories are drawn from Ramayana, Mahabharata, Bhagavata and other epics from both Hindu and Jain
                        traditions.
                    </p>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                        <i class="fa fa-close"></i>Close</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Mysore Palace</h2>
                    <hr class="star-dark mb-5">
                    <img class="img-fluid mb-5" src="assets/img/karnataka/mysorepalace.jpg" alt="Mysore Palace">
                    <p class="mb-5">Ambavilas Palace (Kannada: ಅಂಬಾ ವಿಲಾಸ್ ಅರಮನೆ), otherwise known as the Mysore Palace (Kannada: ಮೈಸೂರು ಅರಮನೆ), is a historical palace and a royal residence at Mysore in the southern Karnataka state of India. It is the official residence
                        of the Wadiyar dynasty and the seat of the Kingdom of Mysore. The palace is in the centre of Mysore, and faces the Chamundi Hills eastward. Mysore is commonly described as the 'City of Palaces', and there are seven palaces including
                        this one; however, 'Mysore Palace' refers specifically to this one within the Old Fort. The land on which the palace now stands was originally known as puragiri (literally, citadel), and is now known as the Old Fort. Yaduraya built
                        the first palace inside the Old Fort in the 14th century, which was demolished and constructed multiple times. The current structure was constructed between 1897 and 1912, after the Old Palace was burnt ablaze.
                    </p>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                        <i class="fa fa-close"></i> Close</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Jog Falls</h2>
                    <hr class="star-dark mb-5">
                    <img class="img-fluid mb-5" src="assets/img/karnataka/jogfalls.jpg" alt="Jog fall">
                    <p class="mb-5">Jog Falls, Gerosoppa Falls or Joga Falls is the second highest plunge waterfall in India located near Sagara taluk, Shivamogga district in the state of Karnataka. It is a segmented waterfall which, depending on rain and season, becomes
                        a plunge waterfall.
                        <br> The falls are a major tourist attraction and is ranked 13th in the world by the waterfall database. They are also known as the Gersoppa Falls or Jogada Gundi. The falls are located on the Uttara Kannada and Sagara border.Jog
                        Falls is created by the Sharavathi River dropping 253 m (830 ft), making it the second-highest plunge waterfall in India after the Nohkalikai Falls with a drop of 335 m (1100 ft) in Meghalaya.
                    </p>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                        <i class="fa fa-close"></i> Close</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 4 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-4">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Wikipedia logo has a Kannada letter</h2>
                    <hr class="star-dark mb-5">
                    <img class="img-fluid mb-5" src="assets/img/karnataka/wiki.jpg" alt="Wiki Logo">
                    <p class="mb-5">Kannada with the pride of being one of the oldest languages of the world has numerous interesting things in its womb. The state language of Karnataka and the heart language of Kanandiagas is well-known for its heritage from the time
                        of Ranna and Pampa. From Kuvempu to Kambar, from Dr.Rajkumar to Pandit Bhimsen Joshi, from Gubbi Veeranna to Shankar Nag, we have seen the eminent personalities who have put Karnataka on the global map. You might have read or heard
                        so many things about Karnataka and Kannada but still, the language is so affluent that there are some stories left unsaid and unread. Come let’s know some unknown things about Karnataka and Kannada on today’s read.
                    </p>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                        <i class="fa fa-close"></i> Close</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 5 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-5">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Rava Idli</h2>
                    <hr class="star-dark mb-5">
                    <img class="img-fluid mb-5" src="assets/img/karnataka/ravaidli.jpg" alt="Rava Idli">
                    <p class="mb-5">Did you know that Rava Idli was first prepared in Karnataka? During the world war 2 when there was a lack of rice to prepare the idlis, MTR used Semolina instead of rice and in that experiment we got this delicious breakfast item called
                        Rava Idli. We also have a pride of introducing the epic Masala Dosa to the world and today we see it’s different varieties being prepared in other parts of the country. From Raagi Mudde, Chitranna, Jolad Rotti, Paddu to Mirchi
                        Bonda and Mysorepak, the taste of Karnataka cuisine makes you die for it.
                    </p>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                        <i class="fa fa-close"></i> Close</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 6 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-6">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Bandipur</h2>
                    <hr class="star-dark mb-5">
                    <img class="img-fluid mb-5" src="assets/img/karnataka/tiger.jpg" alt="Bandipur">
                    <p class="mb-5">Bandipur National Park established in 1974 as a tiger reserve under Project Tiger, is a national park located in the south Indian state of Karnataka, which is the state with the highest tiger population in India. It is one of the premier
                        Tiger Reserves in the country along with the adjoining Nagarhole national park. It was once a private hunting reserve for the Maharaja of the Kingdom of Mysore but has now been upgraded to Bandipur Tiger Reserve. Bandipur is known
                        for its wildlife and has many types of biomes, but dry deciduous forest is dominant. The park spans an area of 874 square kilometers (337 sq mi), protecting several species of India's endangered wildlife. Together with the adjoining
                        Nagarhole National Park (643 km2 (248 sq mi)), Mudumalai National Park (320 km2 (120 sq mi)) and Wayanad Wildlife Sanctuary (344 km2 (133 sq mi)), it is part of the Nilgiri Biosphere Reserve totaling 2,183 km2 (843 sq mi) making
                        it the largest protected area in southern India and largest habitat of wild elephants in south Asia. Bandipur is located in Gundlupet taluq of Chamarajanagar district. It is about 80 kilometers (50 mi) from the city of Mysore on
                        the route to a major tourist destination of Ooty. As a result, Bandipur sees a lot of tourist traffic and there are many wildlife fatalities caused by speeding vehicles that are reported each year. There is a ban on traffic from
                        9 pm to 6 am of dusk to dawn to help bring down the death rate of wildlife.


                    </p>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                        <i class="fa fa-close"></i> Close</a>
                </div>
            </div>
        </div>
    </div>
</div>